
<head>
  <!-- Other head elements -->

  <!-- Bootstrap CSS via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  
</head>

<a href="{% url 'browse_products'%}"><h2>Home</h2></a>

<h2>Cart:</h2><br><br>
{% comment %} {% if order %} {% endcomment %}
  
{% comment %} <h2>Cart:</h2> {% endcomment %}
{% if order %}
  {% comment %} {% for product in order.products.all %}
    <div>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Stock: {{ product.stock }}</p>
    </div> {% endcomment %}

      
  <div class="row">
    {% for product in order.products.all %}
    <div class="col-md-3">
      <div class="product-item">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        <button>Remove from cart</button>
        <button> BuyNow</button>
      </div><br><br><br>
    </div>
    {% cycle "" "" "" "</div><div class='row'>" %}

    {% endfor %}
  </div>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}

<div class="row">
      
  <div class="col-md-3">
    <div class="product-item">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Stock: {{ product.stock }}</p>
      <button>Delete</button>
      <button> BuyNow</button>
    </div><br><br><br>
  </div>
  {% cycle "" "" "" "</div><div class='row'>" %}

</div>